/* client/src/styles/Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

/* Popup Box */
.popup-box {
    background: white;
    max-width: 90%;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transform: scale(0.7);
    animation: popupZoom 0.3s ease forwards;
    width: 400px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    /* Success and Error styles */
    .popup-box.success {
        border: 2px solid green;
    }

    .popup-box.error {
        border: 2px solid red;
    }

    /* Button style inside Popup */
    .popup-box button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .popup-box button:hover {
            background: #0056b3;
        }
.popup-message {
    margin-bottom: 1rem;
    color: #111827;
    font-size: 0.95rem;
    /* white-space: pre-wrap; có thể đặt ở đây nếu không muốn inline */
}

.popup-close-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .popup-close-btn:hover {
        background-color: #2563eb;
    }


/* Fade In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Popup Zoom Animation */
@keyframes popupZoom {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Add Close Popup Fade-Out Effect */
.popup-overlay.close {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
